<div class="item-index-box">

    <!-- ジャンル選択のサイドバー -->

    <!-- ジャンル選択のサイドバー -->
    <div class="item-index">
    <h3>商品一覧</h3>
        <table>
          <tbody>
            <tr class="item-box">
              <% @genre.posts.each do |post| %>
                <td class="item">
                    <%= link_to post_path(post) do %>
                      <%= post.title %><br>
                    <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
</div>
